<?xml version="1.0" encoding="UTF-8" standalone="no"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication"><stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="GradleStartServer"/><stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Emerald ++"/><stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/P0W3R_ZURG3/Desktop/Emerald ++/run"/></launchConfiguration>